<section class="info home-exercise">
  
  <header>
    <h1>Fitness</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/fitness/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Home Exercise</span></p>
    
    <p><span>There are many exercises you can do at home. You can follow a DVD or download routines to fit your needs. This is an inexpensive way to stay fit and it can have the added benefit of boosting your energy level before a night of studying.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


