<section class="info join-a-recreation-league">
  
  <header>
    <h1>Fitness</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/fitness/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Join a recreation league</span></p>
    
    <p><span>A great way to meet new people is to join a recreational league. A recreation league is a non- competitive league that students join to have fun, socialize and get some exercise. There are usually many different sports to choose from.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


