<section class="landing">
  
  <header>
    <h1>Fitness</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>Fitness is defined as good physical condition; being in shape or in condition. Fitness is an important aspect of having a healthy balanced life. Through participation in physical exercise you can maintain a healthy body weight, reduce stress and increase your chance of staying healthy while you are at school.</span>
  </div>

  <footer> 
    <button ng-click="goto('/fitness/scenario')" class="next circle">Next</button>
  </footer>

</section>