<section class="multi-choice">
  <header>
    <h1>Fitness</h1>
    <button ng-click="back('/fitness/scenario')" class="back">BACK</a>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
  
  <div class="description">
    <span>There are a few tips and tricks students can use to keep both their wallets
and waistlines in check while studying:</span>
  </div>
  <div class="choices-wrap">
    <ul class="choices">
      <li>
        <button ng-click="goto('/fitness/run')" class="circle">Run</button>
      </li>
      <li>
        <button ng-click="goto('/fitness/join-a-gym')" class="circle">Join a gym</button>
      </li>
      <li>
        <button ng-click="goto('/fitness/walk-bike')" class="circle">Walk/Bike</button>
      </li>
      <li>
        <button ng-click="goto('/fitness/join-a-recreation-league')" class="circle">Join a recreation league</button>
      </li>
     <li>
        <button ng-click="goto('/fitness/home-exercise')" class="circle">Home Exercise</button>
      </li>
    </ul>
  </div>
</section>
