<section class="negative-outcome">
  
  <header>
    <h1>Fitness</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <p><span>You might want to rethink that.</span></p>
    <p><span>Studies have shown that exercising can lead to a stronger mind as well as a
strong body. Regular workouts in the gym or elsewhere can improve attention span, memory, and learning. It can also reduce stress and the effects of attention-deficit hyperactivity disorder and even delay cognitive decline in old age. In short, staying in shape can make you smarter.</span>
  </div>

  <footer> 
     <button ng-click="failed()" class="next circle">Next</button>
  </footer>

</section>