<section class="info run">
  
  <header>
    <h1>Fitness</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/fitness/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Home Exercise</span></p>
    
    <p><span>Running can be an efficient way to get some exercise and reduce your stress level. It can also have the added benefit of weight loss.</span></p>
    <p><span>Benefits of running<br>
Improve Your Health<br>
Prevent Disease<br>
Lose Weight<br>
Relieve Stress</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


