<section class="info walk-bike">
  
  <header>
    <h1>Fitness</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/fitness/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Walk/Bike</span></p>
    
    <p><span>Walk, bike Find an activity that you enjoy. Walking is good; it doesn't have to be extreme. All movement is beneficial! There are many bike paths close to the campus that you can walk or bike on safely. These activities have the added benefit of getting you out in the fresh air. This can be a welcome break from studies and help to clear your head.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


