<section class="info connected">
  
  <header>
    <h1>Relationships</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/relationships/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description smaller">
    <p><span class="bold">Get connected with campus resources</span></p>
    
    <p><span>Along with all the anticipating and excitement that college can bring, it may also bring up feelings of loneliness. If you are feeling this way, you are not alone! There are many great resources available to you.</span></p>
    <p><span>If you are a new Canadian, connect</span><br>
    <span><a href="http://www.algonquincollege.com/international/" target="_blank">http://www.algonquincollege.com/international/</a>
    </span></p>
    <p><span>If you are a single mom or dad, link with other single parents through a
    discussion board or college Facebook group to share strategies for success.</span></p>
    <p><span>Sometimes, informal support groups form and become a welcome part of the College experience.</span><br>
    <span><a href="http://www.algonquincollege.com/mamidosewin/" target="_blank">http://www.algonquincollege.com/mamidosewin/</a></span></p>
    <p><span>If you are a First Nations student, hook up with other students through the Mamidosewin Centre. Share a meal, sit and have coffee, enjoy the regular visits from Elders. There are many ways of connecting, find a way that works for you.</span></p>
    <p><span>The Positive Space Website provides a forum for linking to the Algonquin QSA (Queer Student's Association). You can get to this site through the Counselling Services portal.</span><br>
    <span><a href="http://www.algonquincollege.com/counselling/" target="_blank">http://www.algonquincollege.com/counselling/</a> or email <a target="_blank"  href="mailto:positivespace@algonquincollege.com">positivespace@algonquincollege.com</a>.</span></p>
  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


