<section class="info establishing">
  
  <header>
    <h1>Relationships</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/relationships/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Establishing new relationships</span></p>
    
    <p><span>- After class ask some classmates to head over to the cafeteria for a meal
or a coffee with you. Getting to know each other outside of the classroom setting is a good way to establish a friendship and everyone likes to eat!</span></p>
<p><span>- If you're living in residence or with roommates, keep the door to your room open, this way it signals to others that you are welcoming conversation.</span></p>
<p><span>- Join a social club, attend some college events, this will provide you with more opportunities to meet people.</span></p>
<p><span>- Don't worry about being shy - in the beginning, everyone is new to the college and trying to make new friends. Be yourself, and don't be afraid to get to know others.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


