<section class="info healthy">
  
  <header>
    <h1>Relationships</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/relationships/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description smaller">
    <p><span class="bold">What does a healthy relationship look like?</span></p>
    
    <p><span>How do you know if your current relationships are healthy? We all have multiple relationships. Some folks we see seldom and so the quality of the relationship is not so vital. However, if we are talking about a relationship that has a daily impact on us, it is important to determine if it is beneficial to us.</span></p>
    <p><span>When you are in a good relationship:</span></p>
    <span>-you look forward to spending time with that person</span></p>
    <span>-you feel free to be yourself when you are with them</span></p>
    <span>-you fell the relationships is mutually beneficial.</span></p>
    <span>-You need to give and receive equally. It is understood, that at times there
    will be an unbalance in the give and take, especially during times when
    one person is under extra pressure or stress. This will be the case from time
    to time while you are in school. Your friend/ spouse/parent/child needs to
    understand this and step up to the plate when you need them to without
    trying to make you feel guilty.
    </span></p>
  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


