<section class="landing">
  
  <header>
    <h1>Relationships</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>When you begin college, you will have the opportunity to form new relationships, and will also be tasked with maintaining existing ones. Understanding what makes a good relationship, and learning how to develop and improve relationships is important. Knowing when it is time to end a relationship is just as important.</span>
  </div>

  <footer> 
    <button ng-click="goto('/relationships/scenario')" class="next circle">Next</button>
  </footer>

</section>