<section class="multi-choice">
  <header>
    <h1>Relationships</h1>
    <button ng-click="back('/relationships/scenario')" class="back">BACK</a>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
  
  <div class="description">
    <span>Many former students will tell you that they met some of their best friends while they were in college. You will be meeting others who share the same career interests as you do. Throughout the year, you will share some common goals and be faced with similar challenges as you.</span>
  </div>
  <div class="choices-wrap">
    <ul class="choices">
      <li>
        <button ng-click="goto('/relationships/establishing')" class="circle">Establishing new relationships</button>
      </li>
      <li>
        <button ng-click="goto('/relationships/connected')" class="circle">Get connected with campus resources</button>
      </li>
      <li>
        <button ng-click="goto('/relationships/healthy')" class="circle">What does a healthy relationship look like?</button>
      </li>
      <li>
        <button ng-click="goto('/relationships/tips')" class="circle">Tips for maintaining healthy relationships</button>
      </li>
     
    </ul>
  </div>
</section>
