<section class="negative-outcome">
  
  <header>
    <h1>Relationships</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>It is hard to maintain your old relationships when you go away to school. Schedule times to connect that are realistic and allow you to stay focused on what you need to do. Too much contact will be distracting and prevent you from focusing on your school and from forming new support systems here.</span>
  </div>

  <footer> 
    <button ng-click="goto('/relationships/scenario')" class="next circle">BACK</button>
  </footer>

</section>