<section class="info tips">
  
  <header>
    <h1>Relationships</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/relationships/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description smaller">
    <p><span class="bold">Tips for maintaining healthy relationships</span></p>
    
    <p><span>Healthy relationships bring happiness and health to our lives. Studies show that people with healthy relationships have more happiness and less stress.</span></p>
    <p><span>-Keep expectations realistic.</span></p>
    <p><span>-Talk with each other</span></p>
    <p><span>-Be flexible.</span></p>
    <p><span>-Pay attention to you too.</span></p>
    <p><span>-Be dependable.</span></p>
    <p><span>-Fight fair.</span></p>
    <p><span>-Keep your life balanced</span></p>
    <p><span>-Be you!</span></p>
    </p>
  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


