<section class="info dont-panic">
  
  <header>
    <h1>Self Care</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/self_care/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Don't Panic!</span></p>
    
    <p><span>If it is mid semester and you are starting to feel in over your head,
don't panic. It's never too late to start.</span></p>
<p><span>- Seek out some help from a counsellor or student success specialist.</span></p>
<p><span>- Figure out exactly where you stand in your classes.</span></p>
<p><span>- Figure out how you can manage the workload.</span></p>
<p><span>- Most of all don't be too hard on yourself, think positively about what you have been able to accomplish, and reward yourself appropriately when you finish a task.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


