<section class="landing">
  
  <header>
    <h1>Self Care</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>Self-care is about maintaining your personal well-being; physical, mental and emotional health. The focus is on balance. Once you begin college, it is easy to define yourself as a student. However, we all fill multiple roles in our lives; spouse, parent, friend, sibling, employee, athlete, etc. It is important that while you are in school, you don't forget about the other parts of your identity. You may find that as you begin to adjust your lifestyle to accommodate student in your list of roles, that you become overloaded. Practicing effective self-care is a way to help manage the load.</span>
  </div>

  <footer> 
    <button ng-click="goto('/self_care/scenario')" class="next circle">Next</button>
  </footer>

</section>