<section class="negative-outcome">
  
  <header>
    <h1>Self Care</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>What self care means is different for everyone. The most important thing to
remember is "everything in moderation". A college student has several
competing interests and it can be tough to juggle everything, ask for help
when you need it and make sure to carve time out for yourself. Even if you
have become amazing at multitasking, you may find that you have less
energy and are becoming overwhelmed simply because you are constantly
doing so much all at once. It can be disappointing to burn-out, so
tackle your challenges one at a time and allow yourself the time you
need to relax and refocus your energy.</span>
  </div>

  <footer> 
    <button ng-click="goto('/self_care/scenario')" class="next circle">BACK</button>
  </footer>

</section>