<section class="info nutrition">
  
  <header>
    <h1>Self Care</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/self_care/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Nutrition</span></p>
    
    <p><span>Having a healthy diet is essential at maintain good health. Remember to drink plenty of water to keep your body hydrated and be aware of how much caffeine and/or alcohol you are drinking as this can dehydrate your body and cause mood swings.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


