<section class="info physical-activity">
  
  <header>
    <h1>Self Care</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/self_care/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Physical Activity</span></p>
    
    <p><span>Taking the stairs, going for a brisk walk, or hitting the gym for a workout can help to refocus your attention when studying</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


