<section class="info reward">
  
  <header>
    <h1>Self Care</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/self_care/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Reward yourself<span></p>
    
    <p><span>After an hour of studying, take a 10 minute break to reward yourself for your focus. If you complete all your assignments in a week, take a break on Saturday and spend time with your kids or your friends. Make sure you celebrate your accomplishments. If you get an A on your test, put it on your fridge! Choose rewards that keep you motivated and are in line with our life goals.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


