<section class="info sleep">
  
  <header>
    <h1>Self Care</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/self_care/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Make sleep a priority</span></p>
    
    <p><span>Sleep is an essential part of your health and well-being! Maintaining
healthy sleeping patterns will help you to maintain your routine and to
feel energized throughout the day.</span></p>
<p><span>Some benefits of sleep are:</span></p>
<p><span>- Sleep reduces stress.</span></p>
<p><span>- Sleep improves your memory.</span></p>
<p><span>- Sleep reduces the occurrence of mood disorders.</span></p>
<p><span>- Sleep helps control body weight issues.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


