<section class="info coping-with-tests-and-exams">
  
  <header>
    <h1>Cultural Adjustment</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/cultural_adjustment/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description smaller">
    <h3><span class="bold">Coping with tests and exams</span></h3>
    
    <p><span>Minimize the stress of exams by ensuring you understand the expectations outlined by the professor. Remember it is ok to ask questions. If too shy or embarrassed to ask questions during class, contact the professor at a different time via email, by telephone or during office hours. There is no such thing as a stupid question!</span></p>

    <p><span>Do not procrastinate! Set up a study schedule; it is less overwhelming to review material in small portions than it is to review it all at once the night before the test.</span></p>

    <p><span>Different people study in different ways. Figure out the easiest way for you to study. If there is trouble with the class material, consider hiring a tutor or visiting the college counselling services for advice.</span></p>
    
    <p><span>Get a good night sleep! Avoid staying up all night studying before the exam; this will not help retain more information. A well rested mind functions best! Make sure to stay hydrated and avoid eating junk. The statement 'you are what you eat is more accurate than you may think. Dietary habits can affect your mood, your productivity and your health.</span></p>
  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


