<section class="info dealing-with-homesickness">
  
  <header>
    <h1>Cultural Adjustment</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/cultural_adjustment/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Dealing with Homesickness</span></p>
    <p><span>Maintain a strong connection with family and friends from back home by communicating by phone, email or Skype. Do not isolate yourself. Losing the connection with your current environment can actually increase feelings of homesickness. Stay busy.</span></p>

    <p><span>Distract attention by doing the things you enjoy: sports, reading, socializing etc. Get in contact with others who may be in a similar position. Sometimes it can help to talk to someone who can relate to your situation. Make use of the colleges Counselling Services and Student Support Services. They have the resources to help you through this challenge.</span></p>
  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


