<section class="info establishing-a-support-system">
  
  <header>
    <h1>Cultural Adjustment</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/cultural_adjustment/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Establishing a Support System</span></p>
  
    <p><span>Just because there may no longer be the luxury of a home cooked meal does not mean you can't maintain a similar and healthy diet.</span></p>
    <p><span>Try and plan your meals in advance, this will help avoid falling back on fast food as a quick and convenient option. Inquire about the College meal plan. This may or may not be the right option for every
student.</span></p>
    <p><span>By familiarizing yourself with the options you will be able to make informed decisions</span></p>
    <p><span>A new city, school or environment does not necessarily mean you cannot maintain your activity level.</span></p>

    <p><span>Be creative, learn how to time manage and be open to new options. Visit the college website for information on sports activities, teams, and the gym.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


