<section class="info making-new-friends">
  
  <header>
    <h1>Cultural Adjustment</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/cultural_adjustment/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Making new Friends</span></p>
    
    <p><span>Maintaining a connection with friends and family from back home can provide part of your support system but not all of it. The reality of it is they are not physically and mentally in the same place that you are. So it is important for you to recognize and fill in those gaps. A solid support system can help anyone through the process of acclimation.</span></p>

    <p><span>Making new friends can be difficult especially if you are shy, and / or unfamiliar with the native language or social norms. Social interactions with individuals from the host culture can contribute largely to your adjustment. Success in a new environment depends on your ability to bridge the cultural differences between your native culture and your host culture and developing new relationships can help.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


