<section class="multi-choice">
  <header>
    <h1>Cultural Adjustment</h1>
    <button ng-click="back('/cultural_adjustment/scenario')" class="back">BACK</a>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
  
  <div class="description">
    <span>Located near the main entrance in C building, the Students' Association can be a great resource. They also have a calendar of student events posted online, to encourage students to get involved with activities. The Student's Association can provide information about your health care coverage while at Algonquin, and answer just about any question that you might have about student life.</span>
  </div>
  <div class="choices-wrap">
    <ul class="choices five">
      <li>
        <button ng-click="goto('/cultural_adjustment/dealing-with-homesickness')" class="circle">Dealing with Homesickness</button>
      </li>
      <li>
        <button ng-click="goto('/cultural_adjustment/coping-with-tests-and-exams')" class="circle">Coping with tests and exams</button>
      </li>
      <li>
        <button ng-click="goto('/cultural_adjustment/making-new-friends')" class="circle">Making new friends</button>
      </li>
      <li>
        <button ng-click="goto('/cultural_adjustment/adjusting-to-changes-in-diet-and-activity')" class="circle">Adjusting to Changes in Diet and Activity</button>
      </li>
      <li>
        <button ng-click="goto('/cultural_adjustment/establishing-a-support-system')" class="circle">Establishing a Support System</button>
      </li>
    </ul>
  </div>
</section>
