<section class="info buy-local-and-in-season">
  
  <header>
    <h1>Nutrition</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/nutrition/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Buy local and in season</span></p>
    
    <p><span>Depending on what time of the year it is, you may be able to venture to
a local supermarket to buy fresh fruits and vegetables from vendors.
It is a less expensive way to buy the necessities and you will find that
they taste a lot better than store bought.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


