<section class="info cook">
  
  <header>
    <h1>Nutrition</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/nutrition/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Cook</span></p>
    
    <p><span>Cooking your own food is always going to be cheaper and healthier than
the alternatives. You don't need to be a gourmet chef to make yourself a
delicious meal either. A great option is to make your own version of a
“Kitchen Sink Stew”. Take any leftovers you may have, whether it's
chicken, vegetables or pasta and mix them together with herbs, spices,
and whatever else you deem delicious. Put everything into that stew, but
the kitchen sink! You are using up every last bit of the food you bought so
nothing is wasted. It is also a good idea to find someone in your dorm or
apartment building who also likes to cook. Sharing meals and taking turns
cooking is a good way to meet new folks as well as share the load.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


