<section class="info do-it-yourself">
  
  <header>
    <h1>Nutrition</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/nutrition/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Do it yourself</span></p>
    
    <p><span>Next time you are at the supermarket, take a minute to compare the cost
of pre-washed or individually packaged items. They are almost always
significantly more expensive than buying the item in the natural
unpackaged way</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


