<section class="landing">
  
  <header>
    <h1>Nutrition</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>Having a balanced nutritional diet is very important to fuel both body and mind for the challenging demands of being a college student. For many of you it could be the first time that you are on your own for buying and cooking food. When on a budget, it is important to be conscious of what you are buying, from both financial and health perspectives.</span>
  </div>

  <footer> 
    <button ng-click="goto('/nutrition/scenario')" class="next circle">Next</button>
  </footer>

</section>