<section class="multi-choice">
  <header>
    <h1>Nutrition</h1>
    <button ng-click="back('/nutrition/scenario')" class="back">BACK</a>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
  
  <div class="description">
    <span>There are a few tips and tricks students can use to keep both their wallets
and waistlines in check while studying:</span>
  </div>
  <div class="choices-wrap">
    <ul class="choices">
      <li>
        <button ng-click="goto('/nutrition/plan-ahead')" class="circle">Plan ahead</button>
      </li>
      <li>
        <button ng-click="goto('/nutrition/do-it-yourself')" class="circle">Do it yourself</button>
      </li>
      <li>
        <button ng-click="goto('/nutrition/buy-local-and-in-season')" class="circle">Buy local and in season</button>
      </li>
      <li>
        <button ng-click="goto('/nutrition/cook')" class="circle">Cook</button>
      </li>
     
    </ul>
  </div>
</section>
