<section class="negative-outcome">
  
  <header>
    <h1>Nutrition</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>While it is tempting to go for the cheaper fast food every time.
Over the long term this might lead to health problems and Obesity. Consuming all foods in a well-balanced proportion will help your body to prevent many infections and disorders. If the body gets all the required nutrients, it will improve the functioning of the immune system which is responsible for the prevention of various infections. By following a balanced diet, you reduce the possibilities of some types of cancer, control blood sugar levels effectively, and control blood pressure. It prevents diseases that are a result of either over-consumption or under-consumption of certain foods.</span>
  </div>

  <footer> 
    <button ng-click="goto('/nutrition/scenario')" class="next circle">BACK</button>
  </footer>

</section>