<section class="info plan-ahead">
  
  <header>
    <h1>Nutrition</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/nutrition/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    <p><span class="bold">Plan ahead</span></p>
    
    <p><span>Walking into a supermarket without planning a list first is risky business - double that risk if you're shopping without an end goal in mind. One of two things will likely happen: you'll end up with a cart full of stuff you don't need or you'll end up wandering around aimlessly, unable to decide what to buy. By having a pre-planned list to stick to, you can avoid spontaneous purchases and excess spending.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


