<section class="info environment">
  
  <header>
    <h1>Stress</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/stress/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Create a positive studying/learning environment<span></p>
    
    <p><span>- establish a quiet space where you are able to focus and concentrate, find alternative spaces in case you need them such as library nooks and coffee shops
- keep your space clean and organized
- avoid working on your bed where the temptation to sleep is high</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


