<section class="info find-students">
  
  <header>
    <h1>Stress</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/stress/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Find like-minded students</span></p>
    
    <p><span>- connect with fellow students who are serious about school</span></p>
    <p><span>- motivate each other</span></p>
    <p><span>- organize study groups</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


