<section class="landing">
  
  <header>
    <h1>Stress</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <span>Stress is the emotional and physical strain caused by our response to pressure from the outside world. Common stress reactions include tension, irritability, inability to concentrate, and a variety of physical symptoms that include headache and a fast heartbeat. Stress is a common occurrence for college students. It is important to understand the dynamics of stress, anticipate that it will happen, and plan ahead.</span>
  </div>

  <footer> 
    <button ng-click="goto('/stress/scenario')" class="next circle">Next</button>
  </footer>

</section>