<section class="info manage">
  
  <header>
    <h1>Stress</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/stress/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Learn to manage your time</span></p>
    
    <p><span>- strive for balance in your school and personal life
- schedule in time to relax
- use your daytime hours effectively
- do homework while you are waiting for your next class
- over-estimate the time it will take to complete assignments and study
for tests
- ask your friends and family to support your goal
- learn to delegate usual chores/responsibilities during the crunch times</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


