<section class="multi-choice">
  <header>
    <h1>Stress</h1>
    <button ng-click="back('/stress/scenario')" class="back">BACK</a>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
  
  <div class="description">
    <span>There are a few tips and tricks students can use to keep both their wallets
and waistlines in check while studying:</span>
  </div>
  <div class="choices-wrap">
    <ul class="choices">
      <li>
        <button ng-click="goto('/stress/plan')" class="circle">Have a plan-know what's coming</button>
      </li>
      <li>
        <button ng-click="goto('/stress/manage')" class="circle">Learn to manage your time</button>
      </li>
      <li>
        <button ng-click="goto('/stress/find-students')" class="circle">Find like-minded students</button>
      </li>
      <li>
        <button ng-click="goto('/stress/stay-connected')" class="circle">Stay connected with friends and family</button>
      </li>
      <li>
        <button ng-click="goto('/stress/environment')" class="circle">Create a positive studying/learning environment</button>
      </li>
      <li>
        <button ng-click="goto('/stress/pitfalls')" class="circle">Avoid common pitfalls</button>
      </li>
    </ul>
  </div>
</section>
