<section class="negative-outcome">
  
  <header>
    <h1>Stress</h1>
    <button ng-click="home()" class="back btn">HOME</button>
    <!-- <a href="#" id="home-btn" class="home btn">HOME</a> -->
  </header>
 
  <div class="description">
    <p><span>Stress is not all bad! Some stress can be beneficial for students. It pushes us to act, it can help us focus, and it can actually boost our immune system to carry us through crunch times. So don’t stress over being stressed! Learn to recognize the signs of stress and avoid getting into a chronic state of stress.</span></p>

    <p><span>How stressed are you?</span></p>
    <button class="next circle">Take the quiz</button>
  </div>

  <footer> 
    <button ng-click="goto('/stress/scenario')" class="next circle">BACK</button>
  </footer>

</section>