<section class="info pitfalls">
  
  <header>
    <h1>Stress</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/stress/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Avoid common pitfalls</span></p>
    
    <p><span>Many students run themselves into the ground by:</span></p>
    <p><span>- partying too much</span></p>
    <p><span>- not getting enough sleep</span></p>
    <p><span>- procrastinating</span></p>
    <p><span>- running on caffeine, nicotine, junk food , alcohol, and non-prescription drugs</span></p>
    <p><span>- not getting enough exercise</span></p>
    <p><span>- developing a negative attitude.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


