<section class="info pitfalls">
  
  <header>
    <h1>Stress</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/stress/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Avoid common pitfalls</span></p>
    
    <p><span>Many students run themselves into the ground by:
- partying too much
- not getting enough sleep
- procrastinating
- running on caffeine, nicotine, junk food , alcohol, and non-prescription
drugs
- not getting enough exercise
- developing a negative attitude.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


