<section class="info plan">
  
  <header>
    <h1>Stress</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/stress/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Have a plan-know what's coming </span></p>
    
    <p><span>- map out your semester (plot your assignments from course outlines into an agenda or mobile device so you can easily see when your busiest times will be and plan ahead for them).</span></p>
    <p><span>- be able to see a month at a glance (put a month at a glance whiteboard up near your desk).</span></p>
    <p><span>- give yourself deadlines and to do lists (check out this assignment calculator to learn to break assignments into small parts, accomplishing a little at a time will be rewarding and keep you on track for the due date).</span></p>
    <p><span>- use a planner or mobile device that you can carry with you and add things in as they are assigned.</span></p>
    <p><span>- buy or make a large wall calendar to map things out visually.</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


