<section class="info stay-connected">
  
  <header>
    <h1>Stress</h1>
    <!-- <button ng-click="home()" class="home btn">HOME</button> -->
    <button ng-click="back('/stress/multi-choice')" class="back btn">BACK</button>
  </header>
 
  <div class="description">
    
    <p><span class="bold">Stay connected with friends and family</span></p>
    
    <p><span>- call, email, Skype with friends and family</span></p>
    <p><span>- make an effort to see friends and family when possible</span></p>
    <p><span>- do not isolate yourself, support is essential</span></p>

  </div>

  <footer> 
    <button ng-click="completed()" class="good-job circle">Good Job!</button>
  </footer>

</section>


